If:
  PathMatch: .*\.h$
CompileFlags:
  Add:
    - -xc
    - -std=c23
    - "-D__clangd__"
    - "-DUSE_ALLOC_UTILS"
    - "-DUSE_DEFER_UTILS"
    - "-DUSE_DA_UTILS"
    - "-DUSE_FILE_UTILS"

---

If:
  PathMatch: .*\.c$
CompileFlags:
  Add: 
    - -D__clangd__
    - -std=c23
