If:
  PathMatch: .*\.h$
CompileFlags:
  Add:
    - -xc
    - -std=c23
    - "-D__clangd__"
    - "-DUTILS_IMPLEMENTATION"
    - "-DUSE_RANDOM_UTIL"
    - "-DUSE_ALLOC_UTIL"
    - "-DUSE_OPTION_UTIL"
    - "-DUSE_DEFER_UTIL"
    - "-DUSE_STR_VIEW_UTIL"
    - "-DUSE_DYN_ARR_UTIL"
    - "-DUSE_STR_BUILDER_UTIL"
    - "-DUSE_FILE_UTIL"

---

If:
  PathMatch: .*\.c$
CompileFlags:
  Add: 
    - -std=c23
