If:
  PathMatch: .*\.h$
CompileFlags:
  Add:
    - -xc
    - -std=gnu23
    - -D__clangd__
    - -DUSE_ALL_UTILS

---

If:
  PathMatch: .*\.c$
CompileFlags:
  Add: 
    - -D__clangd__
    - -std=gnu23
